<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Sketch Artworks Creating and Collecting Network
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="authentication.signup">Sign Up</a>
        <a class="btn btn-primary btn-lg" ui-sref="authentication.signin">Sign In</a>
      </p>
    </div>
  </div>
  <div>

</section>
