<section ng-controller="HomeController">
    <!--<div class="row" style="height: 20px"></div>-->
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2"> </div>
            <button type="button" class="btn btn-primary btn-sm col-md-2" ng-click="goToSketchNew()">Sketch New</button>
            <div class="col-md-4">
                <input class="form-control" type="text" ng-model="search" placeholder="Search"/>
            </div>
        </div>
    </div>

    <br>
    <div>

        <ul class="flowGrid" id="demogrid">
            <li class="flowGridItem" ng-repeat="item in items">
                <a href=""><img ng-src="{{item.img}}"></a>
                <div class="sketch-footer">
                    <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="sketch-profile-image"/>
                    <span>username here</span>

                <p class="sketch-title">{{item.id}}__{{item.name}}</p>
                    <!--<a class="btn" ng-click="cancelBack()">-->
                        <!--<i class="glyphicon glyphicon-comment"></i>-->
                    <!--</a>-->
                </div>

            </li>
        </ul>

</section>