<section ng-controller="SketchRecommmendController">

    <br>
    <div class="container">
        <div class="row">
            <h3></h3>
        </div>
    </div>
    <br>
    <div class="nomatch" ng-show="message">{{message}}</div>
    <div>
        <ul class="flowGrid" id="demogrid">
            <li class="flowGridItem" ng-repeat="sketch in sketchList">
                <img ng-src="{{sketch.sketchImageURL}}" ng-click="goToComment(sketch._id)">
                <div class="sketch-footer">
                    <img ng-src="{{sketch.authorImageURL}}" alt="{{sketch.author}}"
                         ng-click="goToUser(sketch.authorId)" class="sketch-profile-image"/>
                    <span>{{sketch.author}}</span>

                    <p class="sketch-title"><strong>Title: </strong>{{sketch.title}}</p>

                </div>

            </li>
        </ul>
    </div>
</section>