<section ng-controller="SketchCommentController">
    <h1>Comment</h1>

    <div class="container-comment">
        <div>
            <span>
            <h2 style="text-align: center">{{sketch.title}}</h2>
            <span><strong>Average Rate:</strong> <uib-rating ng-model="sketch.avgRating" max="max" readonly="true"
                                                             on-hover="hoveringOver(value)"
                                                             on-leave="overStar = null" titles="['one','two','three']"
                                                             aria-labelledby="default-rating"></uib-rating></span>
            </span>
            <img ng-src="{{sketch.sketchImageURL}}">
        </div>
        <strong>Your Rate:</strong>
        <uib-rating ng-model="myRate" max="max" readonly="alreadyRated" on-hover="hoveringOver(value)"
                    on-leave="overStar = null" titles="['one','two','three']"
                    aria-labelledby="default-rating" ng-click="saveRate()"></uib-rating>
        <span class="label"
              ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
              ng-show="overStar && !isReadonly">{{percent}}%</span>
        <span ng-show="message" style="color:red">{{message}}</span>
        <br>

        <div class="comment">
            <div>
                <label for="text">Comment</label>
                <input type="text" id="text" name="text" class="form-control" ng-model="text"
                       placeholder="Please comment here" required>
                <button class="btn btn-primary" ng-click="addNewComment()">Add</button>
            </div>
            <div>
                <ul style="text-align:left" ng-repeat="comment in comments">
                    <li class="comment-list">
                        <div style="box-shadow: 0 4px 2px -2px gray;">
                            <img ng-src="{{comment.userImageURL}}" alt="{{sketch.author}}"
                                 ng-click="goToUser(sketch.authorId)" class="sketch-profile-image"/>
                            {{comment.username}}
                        </div>
                        <div>
                            <span>{{comment.text}}</span>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
