<section ng-controller="SketchRecommmendController">

    <br>
    <div class="container">
        <div class="row">
            <p class="well" style="font-size: 13px">Our recommend is based on your search infomation, rating system and the number of comments.
                It will provide the sketches which you are interested in and the hotest sketches for you </p>
        </div>
    </div>

    <br>
    <div class="nomatch" ng-show="message">{{message}}</div>
    <div>
        <ul class="flowGrid" id="demogrid">
            <li class="flowGridItem" ng-repeat="sketch in sketchList">
                <img ng-src="{{sketch.sketchImageURL}}" ng-click="goToComment(sketch._id)">
                <div class="sketch-footer">
                    <img ng-src="{{sketch.authorImageURL}}" alt="{{sketch.author}}"
                         ng-click="goToUser(sketch.authorId)" class="sketch-profile-image"/>
                    <span>{{sketch.author}}</span>

                    <p class="sketch-title"><strong>Title: </strong>{{sketch.title}}</p>

                </div>

            </li>
        </ul>
    </div>
</section>