.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*WaterFall*/
.flowGrid{position: relative;padding: 0;}
.flowGrid:before,.flowGrid:after{
  content: "";
  display: table;
}
.flowGrid:after{
  clear:both;
}
.flowGridItem{ list-style: none;}
.flowGridItem img{width:100%;}
.flowGridColumn{
  float: left;
  padding-left: 10px;
}
.flowGridColumn:last-of-type{
  padding-right: 10px;
}

/*sketchpad*/
body {
  background-color: #efeeee;
}
/*.container {*/
  /*width: 400px;*/
  /*margin: 100px auto 0 auto;*/
/*}*/
.pwCanvasPaint canvas:first-child {
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1), -1px -1px 4px rgba(0,0,0,0.1);
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.1), -1px -1px 4px rgba(0,0,0,0.1);
}
.pwColorSelector {
  list-style: none;
}
.pwColor {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: 2px solid transparent;
}
.pwColor.active {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
}
.lineWidthSelector {
  width: 100%;
}
.undo {
  margin-top: 20px;
}
.undo > button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
}
.undo > button[disabled] {
  background-color: #aaa;
}