.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*WaterFall*/
.flowGrid{
  position: relative;
  padding: 0;

}

.flowGrid:before,.flowGrid:after{
  content: "";
  display: table;
}
.flowGrid:after{
  clear:both;
}

.flowGridItem{
  list-style: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -1px -1px 7px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.flowGridItem:hover {
  list-style: none;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3), -1px -1px 4px rgba(0, 0, 0, 0.3);
  -ms-transform: scale(1.04,1.04); /* IE 9 */
  -webkit-transform: scale(1.04,1.04); /* Safari */
  transform: scale(1.04,1.04); /* Standard syntax */
}

.flowGridItem img{width:100%;}
.flowGridItem img:hover {
  cursor:pointer;
}

.flowGridColumn{
  float: left;
  padding-left: 10px;
}
.flowGridColumn:last-of-type{
  padding-right: 10px;
}

.sketch-profile-image {
  /*opacity: 0.8;*/
  margin-top: 5px;
  margin-left: 3px;
  height: 40px;
  width: 40px !important;
  border-radius: 50%;
  margin-right: 5px;
}

.sketch-profile-image:hover {
  box-shadow: 0 0 1px blue;

}
.sketch-footer {
  height:100px;
}

.sketch-title {
  margin-top: 10px;
}

